<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskSmart</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/a91acee77a.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/navbar') %>
    <div id="index_startdiv">
        <h1>Increase Your Productivity</h1>
        <p>With the help of TaskSmart, you can increase your productivity by keeping track of all your tasks and repeated reminders to finish your tasks before the set deadline.</p>
        <a href="/signup" class="signup-btn">Get Started</a>
    </div>
</body>
</html>